/* html elements */
h1 {
    text-align: center; 
    margin-top: 5vh!important; 
    margin-bottom: 3vh!important;
}

body {
    -webkit-transition: 1s; /* Safari prior 6.1 */
    transition: 1s;
}

/* main is part of body */
.main {
    max-width: 89vw;
    margin: auto!important;
    display: block;
}

.main input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

table {
    border-collapse:collapse;
    width: 90vw;
}

/* buttons */
.buttons ul {
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.buttons {
    position: sticky;
    bottom: 5vh;
    margin-right: 2vw;
    float: right;
}

.buttons ul {
    list-style-type: none;
}

/* toggle area */
#topper {
    z-index: 99!important;
    padding: 7.5px;
    padding-top: 15px;
    background-color: black;
    margin-bottom: 60vh;
    border-radius: 10px;
}

#first {
    margin-bottom: 3vh;
}
/* end of buttons */

/* goals */

.main_box {
    width: 55px!important;
    height: 55px!important;
}

.ind_goal {
    position: relative;
    margin: auto!important;
    border-radius: 15px;
    padding-bottom: 5vh;
    margin-bottom: 5vh!important;
    border: 5px solid #1FB7CE;
    -webkit-transition: 1s;
    transition: 1s;
}

.check_box {
    position: absolute;
    float: left;
    width: 20vw;
    padding-top: 75px;
    padding-left: 5vw;
}

.txt {
    top: 35%;
    width: 50vw;
    margin-top: 5vh;
    margin-left: 18vw;
}

.delete {
    position: absolute;
    float: right;
    margin-top: -130px;
    margin-left: 70vw;
}

.txt p {
    font-size: 30px;
}

#datetimepicker {
    border-radius: 5px;
}
/* end of goals */

/* editor */
.editor-toolbar {
    z-index: 0!important;
}

/* other */
.trash {
    width: 75px!important;
    height: 75px!important;
}

#finished_goals {
    margin-top: 5vh;
}

#finished_goals > p {
    cursor: pointer;
    font-size: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#finished_goals > p:hover {
    color: dimgrey;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.finished_goals {
    display: none;
}

.backtotop {
    float: right;
    padding-right: 2px;
    color: #fff;
}

.backtotop:hover {
    
    text-decoration: none;
}
