/* html elements */
h1 {
    text-align: center; 
    margin-top: 5vh!important; 
    margin-bottom: 3vh!important;
}

body {
    -webkit-transition: 1s; /* Safari prior 6.1 */
    transition: 1s;
}

/* main is part of body */
.main {
    max-width: 89vw;
    margin: auto!important;
    display: block;
}

.main input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

table {
    border-collapse:collapse;
    width: 90vw;
}

/* buttons */
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.buttons {
    position: sticky;
    bottom: 5vh;
    margin: 5vh;
    float: right;
}

.buttons ul {
    list-style-type: none;
}

/* toggle area */
#topper {
    z-index: 99!important;
    padding: 7.5px;
    padding-top: 15px;
    background-color: black;
    margin-bottom: 60vh;
    border-radius: 10px;
}

#first {
    margin-bottom: 3vh;
}
/* end of buttons */

/* goals */

.main_box {
    width: 25px;
    height: 25px;
}

#ind_goal {
    border: 5px solid #1FB7CE;
    border-radius: 12px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 90px;
    margin: auto!important;

}

.check_box {
    float: left;
    width: 48%;
    text-align: center;
    margin-left: 21vw;
    margin-top: 15px;
}

.txt {
    float: right;
    width: 48%;
    text-align: center;
    margin-top: -55px;
    margin-right: 70px;
}

.txt p {
    font-size: 30px;
}

#datetimepicker {
    border-radius: 5px;
}
/* end of goals */

/* editor */
.editor-toolbar {
    z-index: 0!important;
}
